html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	font-family: inherit;
	background-color: gray;
}

.top {
	background-color: green;
	padding-top: 80px;
	height: 240px;
}

.attention {
	font-size: 60px;
}

.toptext{
	text-shadow: 0 0 10px black;
	text-align: center;
	color: white;
}

.top a {
	text-align: center;
	text-decoration: none;
	width: 180px;
	color: #7ca23c;
	display: block;
	margin: 0 auto;
	margin-top: 21px;
	background-color: white;
	border-radius: 7px;
	border: 2px solid #597d22;
	height: 30px;
	padding-top: 10px;
}

.wrapper {
	min-height: 100%;
	background-color: white;
	width: 1170px;
	margin: auto;
}

.description {
	font-size: 20px;
	text-align: center;
	padding-top: 46px;
	padding-right: 162px;
	padding-bottom: 88px;
	padding-left: 162px;
	color: #7ca23c;
	margin: 0 auto;
}

iframe {
	padding-bottom: 80px;
	display: block;
	margin: 0 auto;
}

.about {
	text-align: center;
	color: #7ca23c;
	padding: 0 265px;
	padding-bottom: 83px;
}

.whatuget {
	text-align: center;
	font-size: 30px;
}