

body {
	font-family: 'Open Sans', sans-serif;
	background: url(http://cocochnik.com/img/bg-w.jpg) repeat;
	color: #333333;
}

header {
	background: url(http://cocochnik.com/img/header-pattern-s.jpg) repeat;
	padding-top: 48px;
	padding-bottom: 25px;
	height: 240px;
}


.toptext{
	text-shadow: 0 3px 10px black;
	text-align: center;
	color: white;
	font-size: 21px;
	line-height: 1.5;
}

.toptext h1{
	font-size: 63px;
	margin-top: 20px;
	margin-bottom:14px;
	font-weight: 500;
	line-height: 1.1;
}

.upper {
	text-align: center;
	text-decoration: none;
	font-size: 18px;
	width: 180px;
	color: #7ca23c;
	display: block;
	margin: 0 auto;
	margin-top: 21px;
	background-color: white;
	border-radius: 7px;
	border: 2px solid #597d22;
	height: 30px;
	padding-top: 10px;
	box-shadow: 0 5px 10px #597d22;
}

.wrapper {
	box-sizing: border-box;
	min-height: 100%;
	background-color: white;
	width: 1170px;
	margin: auto;
}

.description {
	font-size: 21px;
	line-height: 1.5;
	text-align: center;
	padding-top: 46px;
	padding-right: 162px;
	padding-bottom: 88px;
	padding-left: 162px;
	color: #7ca23c;
	margin: 0 auto;
}

iframe {
	padding-bottom: 80px;
	display: block;
	margin: 0 auto;
}

.about {
	font-weight: 200;
	font-size: 21px;
	line-height: 1.4;
	text-align: center;
	color: #7ca23c;
	padding: 0 260px;
	padding-bottom: 58px;
}

h2 {
	text-align: center;
	font-size: 30px;
	font-weight: 500;
}

.in-row {
	height: 160px;
	text-align: center;
	display: inline-block;
	padding: 0 15px;
	width: 33%;
	box-sizing: border-box;
	font-size: 14px;
}

.middle {
	text-align: center;
	text-decoration: none;
	width: 240px;
	color: white;
	display: block;
	margin: 0 auto;
	margin-top: 21px;
	background-color: #f0ad4e;
	border-radius: 7px;
	border: 2px solid #eea236;
	height: 30px;
	padding-top: 10px;
	margin-bottom: 70px;
}

.programm {
	width: 1140px;
	border-top: 1px solid #eeeeee;
	margin: 0 auto;
	padding-top: 105px;
	padding-bottom: 50px;
	text-align: center;
	font-size: 30px;
	font-weight: 500;
	color: #333333;
}

#table {
	display: table;
	border-collapse: collapse;
	border-style: none;
	margin:0 auto;
	width: 945px;

}

.row, .firstrow {
	display: table-row;
	border-height: 35px;
	border-bottom: 1px solid #dddddd;

}

.firstrow {
	border-bottom: 2px solid black;
}

.cell {
	display: table-cell;
}

.separator {
	width: 1140px;
	height: 80px;
	border-bottom: 1px solid #eeeeee;
	margin: 0 auto;
}

.special1, .special2 {
	margin-top: 60px;
	margin-right: 170px;
	font-size: 14px;
	padding-bottom: 14px;
}

.special1 {
	margin-left: 190px;
}

.special2 {
	margin-left:115px;
}

.order {
	height: 225px;
	width: 1115px;
	margin: 0 auto;
	margin-top: 60px;
	box-shadow: 0 10px 20px #f0ad4e;
	border: 3px solid #f0ad4e;
	border-radius: 20px;
}

.order h2 {
	text-align: center;
	font-size: 30px;
}

.call {
	font-size: 18px;
	text-align: center;
	display: inline-block;
	width: 275px;
	padding-left: 100px;
}

.number {
	font-size: 30px;
	color: #02adef;
}

.or {
	display: inline-block;
	text-align: center;
	height: 40px;
	width: 40px;
	line-height: 40px;
	color: white;
	border-radius: 40px;
	border: 1px solid #f0ad4e;
	background-color: #f0ad4e;
	margin-left: 165px;
	margin-top: 30px;
}

footer {
	height: 110px;
	background-color: #eeeeee;
	border-top: 2px solid #cccccc;
}
.copyright {
	color: #999999;
	margin-top: 23px;
	margin-left: 3px;
	line-height: 1.428571429;
	font-size: 14px;
	display: inline-block;
}

.logo {
	display: inline-block;
	margin-left: 238px;
	margin-top: 20px;
}

.copyright a {
	text-decoration: none;
	color: #619dd0;
}

.razrab {
	float: right;
	margin-right: 239px;
	color: #999999;
	margin-top: 23px;
	line-height: 1.428571429;
	font-size: 14px;
	display: inline-block;
}

.razrab a {
	text-decoration: none;
	color: #619dd0;
}